{:categories
 {:getting-started
  {:label "Getting Started"}

  :builds
  {:label "Builds"}

  :customers
  {:label "Customers"}

  :extending
  {:label "Extending"}

  :cookbook
  {:label "Cookbook"}}}
