{:deps {aero/aero {:mvn/version "1.1.6"}
        babashka/fs {:mvn/version "0.5.21"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}}
 :paths ["common/src"]

 :aliases
 {:dev
  {:extra-paths ["env/dev"]}

  :site/build
  {:extra-paths ["site/src"]
   :exec-fn monkey.ci.site.core/build
   :exec-args {:output "site/target"}}

  :site/test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}}
   :extra-paths ["site/src" "common/test" "site/test"]
   :main-opts ["-m" "kaocha.runner" "--focus" "site"]}

  :docs/build
  {:extra-paths ["docs/src"]
   :exec-fn monkey.ci.docs.core/build
   :exec-args {:output "docs/target"}}

  :docs/test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}}
   :extra-paths ["docs/src" "common/test" "docs/test"]
   :main-opts ["-m" "kaocha.runner" "--focus" "docs"]}
  
  :junit
  {:exec-fn monkey.test/junit}}}
