{:deps {com.monkeyci/site-template {:mvn/version "0.2.4-SNAPSHOT"}
        com.monkeyci/template-build {:local/root "../build"}
        io.github.nextjournal/markdown {:mvn/version "0.6.157"}}
 :paths ["src"]

 :aliases
 {:dev
  {:extra-paths ["env/dev" "test" "dev-resources"]
   :override-deps {com.monkeyci/site-template {:local/root "../common"}}}

  :build
  ;; clj -X:build
  {:extra-paths ["dev-resources"]
   :exec-fn monkey.ci.site.core/build
   :exec-args {:output "target"
               :config {:svg-path "dev-resources/svg"}}}

  :test
  ;; clj -X:test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.3.1"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.18"}}
   :extra-paths ["test" "dev-resources"]
   :exec-fn monkey.test/all}
  
  :junit
  ;; clj -X:test:junit
  {:exec-fn monkey.test/junit}}}
