{:deps {com.monkeyci/site-template {:mvn/version "0.2.2"}}
 :paths ["src"]

 :aliases
 {:dev
  {:extra-paths ["env/dev" "test"]
   :override-deps {com.monkeyci/site-template {:local/root "../common"}}
   :extra-deps {com.monkeyci/template-build {:local/root "../build"}}}

  :build
  {:extra-deps {com.monkeyci/template-build {:local/root "../build"}}
   :exec-fn monkey.ci.template.build/site
   :exec-args {:output "target"
               :site-fn monkey.ci.site.main/main}}

  :page/not-found
  ;; Generates the error-404 page
  {:extra-deps {com.monkeyci/template-build {:local/root "../build"}}
   :exec-fn monkey.ci.template.build/page
   :exec-args {:output "target/error-404.html"
               :site-fn monkey.ci.template.components/not-found-page}}

  :test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.16"}}
   :extra-paths ["test"]
   :exec-fn monkey.test/all}
  
  :junit
  {:exec-fn monkey.test/junit}}}
