{:deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/tools.logging {:mvn/version "1.3.0"}
        com.monkeyci/site-template {:mvn/version "0.1.1"}
        com.monkeyci/template-build {:local/root "../build"}
        io.github.nextjournal/markdown {:mvn/version "0.6.157"}}
 
 :aliases
 {:dev
  {:extra-paths ["env/dev"]
   :extra-deps {aleph/aleph {:mvn/version "0.8.2"}
                ch.qos.logback/logback-classic {:mvn/version "1.5.16"}
                hawk/hawk {:mvn/version "0.2.11"}
                org.clojure/tools.namespace {:mvn/version "1.5.0"}
                ring/ring {:mvn/version "1.13.0"}}
   :override-deps {com.monkeyci/site-template {:local/root "../common"}}}

  :build
  {:exec-fn monkey.ci.docs.build/build-all
   :exec-args {:output "target/site"
               :config {:path-prefix "/"}}}

  :test
  {:extra-deps {com.monkeyprojects/build {:mvn/version "0.2.0"}
                com.rpl/specter {:mvn/version "1.1.4"}
                hiccup-find/hiccup-find {:mvn/version "2022.10.03"}}
   :extra-paths ["test"]
   :exec-fn monkey.test/all}
  
  :junit
  {:exec-fn monkey.test/junit
   :exec-args {:output "junit.xml"}}}}
